<!--
@license
Copyright 2018 abas Software AG. All Rights Reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<link rel="import"
      href="../polymer/polymer-element.html">
<link rel="import"
      href="../abas-field-picker/abas-field-picker.html">
<link rel="import"
      href="../abas-localize-mixin/abas-localize-mixin.html">
<link rel="import"
      href="../vaadin-grid/vaadin-grid-column.html">
<link rel="import"
      href="../abas-table-with-controls/abas-table-with-controls.html">
<link rel="import"
      href="../paper-checkbox/paper-checkbox.html">


<dom-module id="abas-field-list">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <abas-field-picker label="[[localize('fieldToInsert')]]"
                       company="[[company]]"
                       vartab="[[vartab]]"
                       on-abas-field-selected="_fieldSelected"></abas-field-picker>

    <abas-table-with-controls fields="{{fields}}">
      <vaadin-grid-column width="200px"
                          flex-grow=0>
        <template class="header">
          [[localize('fieldName')]]
        </template>
        <template>
          <paper-input no-label-float
                       type="text"
                       value="{{item.name}}"
                       on-change="_fieldPropChanged"></paper-input>
        </template>
      </vaadin-grid-column>
      <vaadin-grid-column width="100px"
                          flex-grow=0>
        <template class="header">
          [[localize('field')]]
        </template>
        <template>{{item.variable}}
        </template>
      </vaadin-grid-column>
      <vaadin-grid-column width="50px"
                          flex-grow=0>
        <template class="header">
          [[localize('table')]]
        </template>
        <template>
          <paper-checkbox disabled
                          checked$="[[item.table]]"></paper-checkbox>
        </template>
      </vaadin-grid-column>

      <slot></slot>

    </abas-table-with-controls>

  </template>

  <script>
    /**
     * `abas-field-list`
     * abas Field List
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AbasFieldList extends Polymer.AbasLocalizeMixin(Polymer.Element) {
      static get is() { return 'abas-field-list'; }
      static get properties() {
        return {
          fields: {
            type: Array,
            notify: true
          },
          company: String,
          vartab: String,
        };
      }

      /**
        * Called every time the element is inserted into the DOM. Useful for 
        * running setup code, such as fetching resources or rendering.
        * Generally, you should try to delay work until this time.
        */
      connectedCallback() {
        super.connectedCallback();

        this.loadResources(this.resolveUrl(this.importPath + 'locales.json'));

      }

      _fieldPropChanged() {
        this.notifySplices('fields');
      }


      _fieldSelected(event) {
        let selItem = event.detail;
        if (selItem) {
          this.push("fields", selItem);
          this.notifySplices('fields');
        }
      }


    }

    window.customElements.define(AbasFieldList.is, AbasFieldList);
  </script>
</dom-module>